* {
    padding: 0;
    margin: 0;
    font-family: 'Itim';
} 

body {
    background-color: darkcyan;
}

.arrowText {
    position: flex;
    font-size: 70px;
    color: #FCA101;
    text-align: center;
    padding: 25px;
}

.arrows {
    text-align: center;
    padding: 20px;
}

.ticArrow {
    display: inline-block;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #FCA101;
    transform: rotate(180deg);
    margin-left: -0%;
}

.RPSarrow {
    display: inline-block;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #FCA101;
    transform: rotate(180deg);
    margin-left: 20%;
}

.c4Arrow {
    display: inline-block;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #FCA101;
    transform: rotate(180deg);
    margin-left: 30%;
}

.mainButtons {
    justify-content: center;
    text-align: center; 
    margin-top: 12%;
}

.mainPics {
    padding: 15px;
    border-radius: 20px;
    width: 110%;
    margin-left: -5%;
}

.ticButton {
    background-color: lightgreen;
    color: black;
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 40px; 
    cursor: pointer;
    margin-left: -0%;
}

.RPSbutton {
    background-color: lightcoral;
    color: black;
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 40px;
    cursor: pointer;
    margin-left: 9%;
}

.c4Button {
    background-color: cyan;
    color: black;
    font-size: 40px;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 8px;
    margin-left: 10%;
}

/* setting for the titles */
.welcomeTitle {
    position: flex;
    top: 5%;
    font-size: 80px;
    text-align: center;
}

/* Settings for the images */
.RPSpic {
    height: 0.1%;
    width: 24%;
    margin-left: 10%;
}

.c4Pic {
    width: 20%;
    height: 10%;
    margin-left: 10%;
}

.tictactoePic {
    width: 17%;
    height: 10%;
    margin-left: -0%;
}

.monkeyPic {
    width: 10%;
    height: 10%;
    text-align: center;
    margin-top: 60%;
}

/* ****** RPS SETTINGS START ****** */

.RPSnameBox {
    font-size: 45px;
}

.RPSname {
    color: black;
    font-size: 70px;
    font-weight: bolder;
    position: absolute;
    left: 16%;
    top: 360px;
    transform: translate(-50%, -50%);
}

.RPSvs {
    color: black;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    left: 47%;
    top: 400px;
    transform: translate(-50%, -50%);
    
}

.RPSopponentname {
    color: black;
    font-size: 70px;
    font-weight: bolder;
    position: absolute;
    left: 75%;
    top: 360px;
    transform: translate(-50%, -50%);
}

.RPScompImg {
    position: absolute;
    left: 75%;
    top: 535px;
    transform: translate(-50%, -50%);
}

.RPSplayerImg {
    position: absolute;
    left: 20%;
    top: 535px;
    transform: translate(-50%, -50%);
}

.RPSwinner {
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: lightyellow;
    font-size: 40px;
}

.RPSEnterButton {
    background-color: #4CAF50; /* Green */
    border-radius: 1px;
    color: white;
    padding: 15px 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.RPSresetButton {
    top: 50%;
    background-color: red; /* Green */
    border-radius: 1px;
    color: black;
    padding: 15px 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.RPSEnterButton:hover {  
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type="text"]::placeholder {  
    color: black;             
    font-size: 25px;
    padding-left: 10px; 
}

.RPSplayerScore {
    color: lightgreen;
    font-size: 30px;
    position: absolute;
    top: 399px;
    left: 20%;
    transform: translate(-50%, -50%);
}

.RPScompScore {
    color: lightcoral;
    font-size: 30px;
    position: absolute;
    top: 399px;
    left: 76%;
    transform: translate(-50%, -50%);
}

.winning-message1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
  }
  
  .winning-message1 button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
  }
  
  .winning-message1 button:hover {
    background-color: black;
    color: white;
    border-color: white;
  }
  
  .winning-message1.show {
    display: flex;
  }

  .ticTitle {
    color: black;
    text-decoration: wavy;
    font-size: 100px;
    top: 20px;
    text-align: center;
  }
/* ******** RPS SETTINGS END ******** */