body {
    background-color: lightcoral;
}

/* Players names and Scores Style */
.player1 {
    margin-right: 10%;
    color: black;
    font-size: 38px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.player2 {
    margin-left: 10%;
    color: white;
    font-size: 38px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pvpVs {
    font-size: 35px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* PVP players display style */
.pvpDisplay {
    align-items: center;
    justify-content: center;
    width: 93%;
    height: 430px;
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
}

 /* PvP placeholder style */
.pvpGetNames {
    margin-top: 5%;
    width: 320px;
}
.playerPlaceholders {
    background-color: white;
    font-size: 40px; 
    width: 300px;
    border: 3px solid black;
    margin: 5px;
}
.enter {
    width: 250px;
    font-size: 30px;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    margin-bottom: 5px;
    transition-duration: .5s;
}
.enter:hover {
    box-shadow: 0 10px 10px white, 0 12px 10px 10px black;
    background-color: dimgray;
}

/* player pics style */
.player1Pic {
    border: 5px solid white;
    width: 250px;
    height: 250px;
    transform: translateX(-300px) translateY(10px);
    padding-top: 12px;
}
.player2Pic {
    border: 5px solid black;
    width: 250px;
    height: 250px;
    transform: translateX(300px) translateY(-270px);
    padding-top: 12px;
}

/* Winning message style */
.winningMessage {
    margin-top: 2%;
    color: white;
    font-size: 60px;
    padding-top: 60px;
    height: 80px;
    box-shadow: 10px 10px 5px 12px black;;
    background-color: black;
}
/* Remove Return buttons */
.remove {
    margin-left: -50%;
    margin-top: 10px;
    background-color: black;
    color: red;
    font-size: 20px;
    display: none;
    box-shadow: 5px 5px 5px 0px black;;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bolder;
}
.return {
    margin-left: 50%;
    margin-top: -25px;
    background-color: red;
    color: black;
    font-size: 20px;
    display: none;
    box-shadow: 5px 5px 5px 0px black;;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bolder;
}
